<div style="text-align: center;">
  <h2>Page de test de connexion à l'API DEMAT</h2>

  <h4>Résultat :</h4>
  <p>Code HTTP : <b>{{ result.httpCode }}</b></p>
  {% if result.httpCode == 200 %}
    <b>{{ result.data }}</b>
  {% endif %}
</div>